<section class="todos">
	<div class="row">
		<div class="col col-md-6 col-md-offset-3">
			<div class="new-to-do panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">What needs to be done?</h3>
				</div>
				<div class="panel-body">
					<form name="todoForm" ng-submit="addToDo()" class="form-inline" novalidate>
						<p ng-show="todoForm.title.$invalid && todoForm.title.$dirty" class="error">Title is required</p>
						<div class="form-group" ng-class="{'has-error': todoForm.title.$invalid && todoForm.title.$dirty}">
							<input type="text" placeholder="Title" ng-model="newTodo.title" name="title" class="form-control" required>
						</div>
						<div class="form-group">
							<input type="text" placeholder="Description" ng-model="newTodo.description" class="form-control">
						</div>
						<input type="submit" class="btn btn-primary" value="Add">
					</form>
				</div>
			</div>
			<ul class="list-group">
				<li ng-repeat="todo in todos" ng-class="{ 'list-group-item-success': todo.done }" class="list-group-item">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="todo.done" ng-change="toggleDone(todo)">
							<span>{{ todo.title }}</span>
						</label>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>